name = "cloudinary-proxy-dev"
type = "javascript"
account_id = "get-this-from-cloudflare"
workers_dev = true
vars = { ENVIRONMENT = "dev", CLOUD_NAME = "GET-FROM-CLOUDINARY" }
[env.production]
name = "cloudinary-proxy"
vars = { ENVIRONMENT = "production", CLOUD_NAME = "GET-FROM-CLOUDINARY" }
route = "images.yourdomain.com/*"
zone_id = "get this id from your domain name page in cloudflare"
